<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SEO - meta<tags> for serach engine optimisation -->
    <!-- Keywords Meta Tag -->
    <meta
      name="keywords"
      content="webify, web, webify web solutions, webify solutions, web solutions, software, tech, technology, software development, mobile development, seo, search engine optimization, SEO Integration & Web Design, web development johannesburg, web development south africa, cheap websites, affordable websites, easy websites, simple websites, web development, website design, e-commerce solutions, custom web applications, user experience design, responsive web design, webify, digital transformation, business website, web development company, Website Optimization, website Consultation, API Development, Backend Development, UI/UX Design"
    />
    <!-- Primary Meta Tags -->
    <meta
      name="description"
      content="Webify offers expert web design and development services, crafting modern, user-friendly websites to elevate your online presence."
    />
    <!-- Additional Meta Tags -->
    <meta name="robots" content="index, follow" />
    <!-- Open Graph Tags - Social Media -->
    <meta
      name="og:Webify"
      property="og:Webify"
      content="Webify Web Solutions (Pty) Ltd"
    />
    <meta
      property="og:title"
      content="Webify - Innovative Web Development Solutions"
    />
    <meta
      property="og:description"
      content="Webify offers cutting-edge web development services to transform your business presence online."
    />
    <meta property="og:image" content="/assets/favicon/favicon-96x96.png" />
    <meta property="og:url" content="https://webify.org.za/" />
    <!-- Open Graph: Twitter Card Tags -->
    <meta name="twitter:card" content="Webify Web Solutions (Pty) Ltd" />

    <!-- Apple: Set the title for the web app on Home Screen -->
    <meta name="apple-mobile-web-app-title" content="Webify" />
    <!-- Apple: Optimize the web app for standalone, full-screen mode -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Apple: Set the background color for the splash screen -->
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <!-- Favicon Icons - Branding in tabs and Bookmarks -->
    <meta name="msapplication-TileColor" content="#fff" />
    <meta name="theme-color" content="#fff" />

    <title>Portfolio - Webify</title>

    <!-- Canonical Tag -->
    <link rel="canonical" href="https://webify.org.za/" />
    <!-- Favicon Icons [Branding in tabs]  -->
    <!-- For modern browsers -->
    <link rel="icon" type="image/x-icon" href="/assets/favicon/favicon.ico" />
    <!-- For IE 10 and below -->
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico" />
    <!-- For PNG favicons -->
    <link
      rel="icon"
      sizes="any"
      type="image/png"
      href="/assets/favicon/web-app-manifest-192x192.png"
    />
    <!-- For Apple - 180x180px -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-touch-icon.png"
    />
    <!-- SVG favicon -->
    <link
      rel="icon"
      type="image/svg+xml"
      href="/assets/favicon/favicon.ico/favicon.svg"
    />
    <!-- 32x32 and 16x16 pixel icons for general use -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon/favicon-16x16.png"
    />
    <!-- 96x96 pixel icon -->
    <link
      rel="icon"
      type="image/png"
      href="/assets/favicon/favicon-96x96.png"
      sizes="96x96"
    />
    <!-- Web App Manifest -->
    <link rel="manifest" href="/assets/favicon/site.webmanifest" />

    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <!-- boxicons stylesheet for icons-->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- ------------ AOS Library ------------------------- -->
    <link
      rel="stylesheet"
      href="	https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
    />
    <!-- Link to external CSS -->
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body onload="todayDate()">
    <!-- Loader -->
    <div id="loader" class="loader">
      <div class="loader-spinner"></div>
    </div>

    <!-- Main Content -->
    <div id="content" class="content hidden">
      <!-- Header Section -->
      <header class="header">
        <div class="container">
          <!-- Logo -->
          <div class="logo">
            <a href="/">
              <img
                src="/assets/favicon/webify-header-logo.png"
                alt="Webify Company Logo"
              />
            </a>
          </div>

          <!-- Navigation Menu -->
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__item">
                <a href="/" class="nav__link">Home</a>
              </li>
              <li class="nav__item">
                <a href="/index.html#about" class="nav__link">About</a>
              </li>
              <li class="nav__item nav__dropdown">
                <a href="/index.html#services" class="nav__link"
                  >Services <span class="caret">&#9662;</span></a
                >
                <ul class="nav__submenu">
                  <li class="nav__submenu-item">
                    <a
                      href="/views/services/website-development.html"
                      class="nav__link"
                      >Website Development</a
                    >
                  </li>
                  <li class="nav__submenu-item">
                    <a
                      href="/views/services/custom-website-development.html"
                      class="nav__link"
                      >Custom Software Development</a
                    >
                  </li>
                  <li class="nav__submenu-item">
                    <a
                      href="/views/services/mobile-application-development.html"
                      class="nav__link"
                      >Android & IOS App Development</a
                    >
                  </li>
                  <li class="nav__submenu-item">
                    <a
                      href="/views/services/website-hosting-maintenance-services.html"
                      class="nav__link"
                      >Website Hosting & Maintenance Services</a
                    >
                  </li>
                  <li class="nav__submenu-item">
                    <a
                      href="/views/services/application-maintenance-and-support.html"
                      class="nav__link"
                      >Application Maintenance & Support</a
                    >
                  </li>
                  <li class="nav__submenu-item">
                    <a
                      href="/views/services/seo-integration.html"
                      class="nav__link"
                      >SEO Integration & Web Design</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav__item">
                <a href="/index.html#portfolio" class="nav__link">Portfolio</a>
              </li>
              <li class="nav__item">
                <a href="/index.html#blog" class="nav__link">Blog</a>
              </li>
              <li class="nav__item nav__dropdown">
                <a
                  href="/views/work-process/work-process.html"
                  class="nav__link"
                >
                  Work Process <span class="caret">&#9662;</span>
                </a>
                <ul class="nav__submenu">
                  <li class="nav__submenu-item">
                    <a
                      href="/views/work-process/services.html"
                      class="nav__link"
                      >Services</a
                    >
                  </li>
                  <li class="nav__submenu-item">
                    <a
                      href="/views/work-process/packages.html"
                      class="nav__link"
                      >Packages</a
                    >
                  </li>
                  <li class="nav__submenu-item">
                    <a
                      href="/views/work-process/tech-stack.html"
                      class="nav__link"
                      >Tech Stack</a
                    >
                  </li>
                  <li class="nav__submenu-item">
                    <a
                      href="/views/work-process/work-process.html"
                      class="nav__link"
                      >Work Process</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav__item">
                <a href="/index.html#contact" class="nav__link">Contact</a>
              </li>
            </ul>
          </nav>

          <!-- Light/Dark Button -->
          <button id="themeToggle" class="theme-toggle-btn">
            <span class="sun">&#9728;</span>
            <span class="moon">&#9790;</span>
          </button>

          <!-- CTA Button -->
          <div class="cta">
            <a href="/index.html#contact" class="cta__button"
              >Get a Free Quote</a
            >
          </div>

          <!-- Mobile Menu Toggle (Optional) -->
          <div class="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </div>
      </header>

      <main class="main">
        <div class="title-header">
          <div class="container">
            <h1>Our Portfolio</h1>
          </div>
        </div>

        <div class="container">
          <section class="portfolio-page">
            <!-- Category 1 -->
            <div class="portfolio-category">
              <h2>Web Design and Development</h2>
              <div class="swiper myPortfolioSwiper">
                <div class="swiper-wrapper swiper-wrapper-portfolio">
                  <!-- Slide 1 -->
                  <div class="swiper-slide swiper-slide-portfolio">
                    <img
                      src="/assets/portfolio/laptop-mockup-troops.png"
                      alt="Troops Security Services Website"
                    />
                    <p>Troops Security Services</p>
                    <a
                      href="https://troopssecurity.netlify.app/"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="cta-btn"
                    >
                      Visit
                    </a>
                  </div>
                  <!-- Slide 2 -->
                  <div class="swiper-slide swiper-slide-portfolio">
                    <img
                      src="/assets/portfolio/laptop-mockup-cosmeri.png"
                      alt="Cosmeri Skincare Static Website"
                    />
                    <p>Cosmeri Skincare</p>
                    <a
                      href="https://cosmeri.netlify.app/"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="cta-btn"
                    >
                      Visit
                    </a>
                  </div>
                  <!-- Slide 3 -->
                  <div class="swiper-slide swiper-slide-portfolio">
                    <img
                      src="/assets/portfolio/laptop-mockup-maxipharma.png"
                      alt="MaxiPharma Laboratories Website"
                    />
                    <p>MaxiPharma Laboratories</p>
                    <a
                      href="https://maxipharma.co.za/"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="cta-btn"
                    >
                      Visit
                    </a>
                  </div>
                  <!-- Slide 4 -->
                  <div class="swiper-slide swiper-slide-portfolio">
                    <img
                      src="/assets/portfolio/laptop-mockup-webify.png"
                      alt="MaxiPharma Single Page Static Website"
                    />
                    <p>MaxiPharma - Single Page</p>
                    <a
                      href="https://maxipharma.netlify.app/"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="cta-btn"
                    >
                      Visit
                    </a>
                  </div>
                  </div>
                  <!-- Slide 5 -->
                  <div class="swiper-slide swiper-slide-portfolio">
                    <img
                      src="/assets/portfolio/laptop-mockup-webify.png"
                      alt="MaxiPharma Single Page Static Website V2"
                    />
                    <p>MaxiPharma - Single Page V2</p>
                    <a
                      href="https://maxipharmav2.netlify.app/"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="cta-btn"
                    >
                      Visit
                    </a>
                  </div>
                  <!-- Slide 6 -->
                  <div class="swiper-slide swiper-slide-portfolio">
                    <img
                      src="/assets/portfolio/laptop-mockup-bakery.png"
                      alt="Treats by Maine Bakery Website"
                    />
                    <p>Treats by Maine Bakery</p>
                    <a
                      href="https://treatsbymaine.netlify.app/"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="cta-btn"
                    >
                      Visit
                    </a>
                  </div>
                  <!-- Slide 7 -->
                  <div class="swiper-slide swiper-slide-portfolio">
                    <img
                      src="/assets/portfolio/laptop-mockup-webify.png"
                      alt="AWC Watches Website"
                    />
                    <p>AWC Watches</p>
                    <a
                      href="https://awc-watches.netlify.app/"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="cta-btn"
                    >
                      Visit
                    </a>
                  </div>
                  <!-- Slide 8 -->
                  <div class="swiper-slide swiper-slide-portfolio">
                    <img
                      src="/assets/portfolio/laptop-mockup-trinit.png"
                      alt="Trinit Real Estate Website"
                    />
                    <p>Trinit Real Estate</p>
                    <a
                      href="https://trinit.netlify.app/"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="cta-btn"
                    >
                      Visit
                    </a>
                  </div>
                  <!-- Slide 9 -->
                  <div class="swiper-slide swiper-slide-portfolio">
                    <img
                      src="/assets/portfolio/laptop-mockup-webify.png"
                      alt="WebX AI - Frontend Design"
                    />
                    <p>WebX AI - Frontend Design</p>
                    <a
                      href="https://webx-webify.netlify.app/"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="cta-btn"
                    >
                      Visit
                    </a>
                  </div>
                  <!-- Slide 10 -->
                  <div class="swiper-slide swiper-slide-portfolio">
                    <img
                      src="/assets/portfolio/laptop-mockup-webify.png"
                      alt="Webify Web Solutions Webiste"
                    />
                    <p>Webify Web Solutions</p>
                    <a
                      href="https://webify-web-solutions.netlify.app/"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="cta-btn"
                    >
                      Visit
                    </a>
                  </div>
                  <!-- Slide END -->
                </div>
                <!-- Swiper buttons -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
              </div>
            </div>

            <!-- Category 2 -->
            <div class="portfolio-category">
              <h2>Web Applications</h2>
              <div class="swiper myPortfolioSwiper">
                <div class="swiper-wrapper swiper-wrapper-portfolio">
                  <div class="swiper-slide swiper-slide-portfolio">
                    <img
                      src="/assets/portfolio/laptop-mockup-eezi.png"
                      alt="Eezi-Fruit Full Stack Application"
                    />
                    <p>Eezi-Fruit App</p>
                    <a
                      href="https://eezi-fruit.vercel.app/"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="cta-btn"
                    >
                      Visit
                    </a>
                  </div>
                  <!-- <div class="swiper-slide swiper-slide-portfolio">
										<img
											src="assets/services/appdev_step2.jpg"
											alt="Mobile App 2"
										/>
										<p>Netflix Clone</p>
										<a
											href="https://eezi-fruit.vercel.app/"
											target="_blank"
											rel="noopener noreferrer"
											class="cta-btn portfolio-visit-cta-btn"
										>
											Visit
										</a>
									</div>
									<div class="swiper-slide swiper-slide-portfolio">
										<img
											src="assets/blog/blog3-thumbnail.jpg"
											alt="Mobile App 3"
										/>
										<p>MaxiHealth</p>
										<a
											href="https://eezi-fruit.vercel.app/"
											target="_blank"
											rel="noopener noreferrer"
											class="cta-btn portfolio-visit-cta-btn"
										>
											Visit
										</a>
									</div> -->
                </div>
                <!-- Swiper buttons -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
              </div>
            </div>

            <!-- Category 3 -->
            <div class="portfolio-category">
              <h2>Content Management Systems</h2>
              <div class="swiper myPortfolioSwiper">
                <div class="swiper-wrapper swiper-wrapper-portfolio">
                  <!-- Cosmeri -->
                  <div class="swiper-slide swiper-slide-portfolio">
                    <img
                      src="/assets/portfolio/laptop-mockup-webify.png"
                      alt="Cosmeri Skincare CMS Website"
                    />
                    <p>Cosmeri Skincare</p>
                    <a
                      href="https://cosmeri.co.za/"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="cta-btn"
                    >
                      Visit
                    </a>
                  </div>
                  <!-- CrrestPoint Credit -->
                  <div class="swiper-slide swiper-slide-portfolio">
                    <img
                      src="/assets/portfolio/laptop-mockup-webify.png"
                      alt="CrestPoint Credit CMS Website"
                    />
                    <p>CrestPoint Credit</p>
                    <a
                      href="https://crestpointcredit.co.za/"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="cta-btn"
                    >
                      Visit
                    </a>
                  </div>
                  <!-- <div class="swiper-slide swiper-slide-portfolio">
										<img
											src="assets/services/appdev_step2.jpg"
											alt="Mobile App 2"
										/>
										<p>Netflix Clone</p>
										<a
											href="https://eezi-fruit.vercel.app/"
											target="_blank"
											rel="noopener noreferrer"
											class="cta-btn portfolio-visit-cta-btn"
										>
											Visit
										</a>
									</div>
									<div class="swiper-slide swiper-slide-portfolio">
										<img
											src="assets/blog/blog3-thumbnail.jpg"
											alt="Mobile App 3"
										/>
										<p>MaxiHealth</p>
										<a
											href="https://eezi-fruit.vercel.app/"
											target="_blank"
											rel="noopener noreferrer"
											class="cta-btn portfolio-visit-cta-btn"
										>
											Visit
										</a>
									</div> -->
                </div>
                <!-- Swiper buttons -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </section>
        </div>
      </main>

      <!-- Footer Section -->
      <footer class="footer">
        <div class="footer-container">
          <div class="footer-content">
            <div class="box">
              <div class="footer-logo">
                <h2>Webify</h2>
                <p>Your partner in innovative web solutions</p>
              </div>
            </div>
            <div class="box">
              <div class="footer-links">
                <h3>Quick Links</h3>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/index.html#about">About</a></li>
                  <li><a href="/index.html#services">Services</a></li>
                  <li><a href="/index.html#portfolio">Portfolio</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="/index.html#contact">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="box">
              <div class="footer-policy">
                <h3>Legal</h3>
                <ul>
                  <li>
                    <a href="/views/privacy-policy.html">Privacy Policy</a>
                  </li>
                  <li>
                    <a href="/views/terms-of-service.html">Terms of Service</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="footer-bottom">
            <p>&copy; <span id="date"></span> Webify. All rights reserved.</p>
          </div>
        </div>
        </div>
      </footer>

      <!-- Scroll to Top Button -->
      <button id="scrollToTopBtn" class="scroll-to-top">
        <i class="bx bx-up-arrow-alt"></i>
      </button>

      <!-- Quick Contact Button -->
      <button id="quickContactBtn" class="quick-contact-btn">
        <span>Contact Us</span>
      </button>

      <!-- WhatsApp Button -->
      <div id="whatsAppBtn" class="whatsapp-btn">
        <a href="https://wa.me/27615803040" target="_blank">
          <i class="bx bxl-whatsapp"></i>
        </a>
      </div>

      <!-- Popup Form -->
      <div id="popupForm" class="popup-overlay">
        <div class="popup-content">
          <button id="closePopup" class="close-popup">&times;</button>
          <h2>Quick Contact 👋</h2>
          <form id="contactForm" action="/php/submit-form.php" method="POST">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" required />
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input
                type="email"
                id="email"
                name="email"
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                title="Please enter a valid email address."
              />
            </div>
            <div class="form-group">
              <label for="message">Message:</label>
              <textarea
                id="message"
                name="message"
                rows="4"
                required
              ></textarea>
            </div>
            <button type="submit" class="cta-btn">Send Message</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".myPortfolioSwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        //loop: true,
        slidesPerView: 1,

        /* autoplay: {
					delay: 5000,
					disableOnInteraction: true,
				}, */
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        //grabCursor: true,
        //draggable: true,
        /* breakpoints: {
					0: {
						slidesPerView: 1,
					},
					450: {
						slidesPerView: 2,
					},
					900: {
						slidesPerView: 2,
					},
				}, */
        // Dynamically set slidesPerView based on window width
        //slidesPerView: window.innerWidth < 700 ? 2 : 'auto',
      });
    </script>

    <!-- custom js file link -->
    <script src="/js/main.js"></script>
    <script src="/js/todayDate.js"></script>

  </body>
</html>
