<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SEO - meta<tags> for serach engine optimisation -->
    <!-- Keywords Meta Tag -->
    <meta
      name="keywords"
      content="webify, web, webify web solutions, webify solutions, web solutions, software, tech, technology, software development, mobile development, seo, search engine optimization, SEO Integration & Web Design, web development johannesburg, web development south africa, cheap websites, affordable websites, easy websites, simple websites, web development, website design, e-commerce solutions, custom web applications, user experience design, responsive web design, webify, digital transformation, business website, web development company, Website Optimization, website Consultation, API Development, Backend Development, UI/UX Design"
    />
    <!-- Primary Meta Tags -->
    <meta
      name="description"
      content="Webify delivers custom websites, e-commerce solutions, and user-friendly designs to enhance your online business presence with cutting-edge services."
    />
    <!-- Additional Meta Tags -->
    <meta name="robots" content="index, follow" />
    <!-- Open Graph Tags - Social Media -->
    <meta
      name="og:Webify"
      property="og:Webify"
      content="Webify Web Solutions (Pty) Ltd"
    />
    <meta
      property="og:title"
      content="Webify - Innovative Web Development Solutions"
    />
    <meta
      property="og:description"
      content="Webify offers cutting-edge web development services to transform your business presence online."
    />
    <meta property="og:image" content="/assets/favicon/favicon-96x96.png" />
    <meta property="og:url" content="https://webify.org.za/" />
    <!-- Open Graph: Twitter Card Tags -->
    <meta name="twitter:card" content="Webify Web Solutions (Pty) Ltd" />

    <!-- Apple: Set the title for the web app on Home Screen -->
    <meta name="apple-mobile-web-app-title" content="Webify" />
    <!-- Apple: Optimize the web app for standalone, full-screen mode -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Apple: Set the background color for the splash screen -->
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <!-- Favicon Icons - Branding in tabs and Bookmarks -->
    <meta name="msapplication-TileColor" content="#fff" />
    <meta name="theme-color" content="#fff" />

    <title>Work Process - Webify</title>

    <!-- Canonical Tag -->
    <link rel="canonical" href="https://webify.org.za/" />
    <!-- Favicon Icons [Branding in tabs]  -->
    <!-- For modern browsers -->
    <link rel="icon" type="image/x-icon" href="/assets/favicon/favicon.ico" />
    <!-- For IE 10 and below -->
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico" />
    <!-- For PNG favicons -->
    <link
      rel="icon"
      sizes="any"
      type="image/png"
      href="/assets/favicon/web-app-manifest-192x192.png"
    />
    <!-- For Apple - 180x180px -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-touch-icon.png"
    />
    <!-- SVG favicon -->
    <link
      rel="icon"
      type="image/svg+xml"
      href="/assets/favicon/favicon.ico/favicon.svg"
    />
    <!-- 32x32 and 16x16 pixel icons for general use -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon/favicon-16x16.png"
    />
    <!-- 96x96 pixel icon -->
    <link
      rel="icon"
      type="image/png"
      href="/assets/favicon/favicon-96x96.png"
      sizes="96x96"
    />
    <!-- Web App Manifest -->
    <link rel="manifest" href="/assets/favicon/site.webmanifest" />

    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <!-- boxicons stylesheet for icons-->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- ------------ AOS Library ------------------------- -->
    <link
      rel="stylesheet"
      href="	https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
    />
    <!-- Link to external CSS -->
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body onload="todayDate()">
    <!-- Loader -->
    <div id="loader" class="loader">
      <div class="loader-spinner"></div>
    </div>

    <!-- Main Content -->
    <div id="content" class="content hidden">
      <!-- Header Section -->
      <header class="header">
        <div class="container">
          <!-- Logo -->
          <div class="logo">
            <a href="/">
              <img
                src="/assets/favicon/webify-header-logo.png"
                alt="Webify Company Logo"
              />
            </a>
          </div>

          <!-- Navigation Menu -->
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__item">
                <a href="/" class="nav__link">Home</a>
              </li>
              <li class="nav__item">
                <a href="/index.html#about" class="nav__link">About</a>
              </li>
              <li class="nav__item nav__dropdown">
                <a href="/index#services" class="nav__link"
                  >Services <span class="caret">&#9662;</span></a
                >
                <ul class="nav__submenu">
                  <li class="nav__submenu-item">
                    <a
                      href="/views/services/website-development.html"
                      class="nav__link"
                      >Website Development</a
                    >
                  </li>
                  <li class="nav__submenu-item">
                    <a
                      href="/views/services/custom-website-development.html"
                      class="nav__link"
                      >Custom Software Development</a
                    >
                  </li>
                  <li class="nav__submenu-item">
                    <a
                      href="/views/services/mobile-application-development.html"
                      class="nav__link"
                      >Android & IOS App Development</a
                    >
                  </li>
                  <li class="nav__submenu-item">
                    <a
                      href="/views/services/website-hosting-maintenance-services.html"
                      class="nav__link"
                      >Website Hosting & Maintenance Services</a
                    >
                  </li>
                  <li class="nav__submenu-item">
                    <a
                      href="/views/services/application-maintenance-and-support.html"
                      class="nav__link"
                      >Application Maintenance & Support</a
                    >
                  </li>
                  <li class="nav__submenu-item">
                    <a
                      href="/views/services/seo-integration.html"
                      class="nav__link"
                      >SEO Integration & Web Design</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav__item">
                <a href="/index#portfolio" class="nav__link">Portfolio</a>
              </li>
              <li class="nav__item">
                <a href="/index/#blog" class="nav__link">Blog</a>
              </li>
              <li class="nav__item nav__dropdown">
                <a
                  href="/views/work-process/work-process.html"
                  class="nav__link"
                >
                  Work Process <span class="caret">&#9662;</span>
                </a>
                <ul class="nav__submenu">
                  <li class="nav__submenu-item">
                    <a href="/views/work-process/services.html" class="nav__link"
                      >Services</a
                    >
                  </li>
                  <li class="nav__submenu-item">
                    <a href="/views/work-process/packages.html" class="nav__link"
                      >Packages</a
                    >
                  </li>
                  <li class="nav__submenu-item">
                    <a
                      href="/views/work-process/tech-stack.html"
                      class="nav__link"
                      >Tech Stack</a
                    >
                  </li>
                  <li class="nav__submenu-item">
                    <a href="#" class="nav__link">Work Process</a>
                  </li>
                </ul>
              </li>
              <li class="nav__item">
                <a href="/index.html#contact" class="nav__link">Contact</a>
              </li>
            </ul>
          </nav>

          <!-- Light/Dark Button -->
          <button id="themeToggle" class="theme-toggle-btn">
            <span class="sun">&#9728;</span>
            <span class="moon">&#9790;</span>
          </button>

          <!-- CTA Button -->
          <div class="cta">
            <a href="/index.html#contact" class="cta__button"
              >Get a Free Quote</a
            >
          </div>

          <!-- Mobile Menu Toggle (Optional) -->
          <div class="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </div>
      </header>

      <main class="main">
        <div class="title-header">
          <div class="container">
            <h1>Our Work Process</h1>
          </div>
        </div>
        <div class="container">
          <section class="process">
            <div class="process-step">
              <h2>Step 1: Consultation</h2>
              <p>
                We start with understanding your requirements and goals to
                provide a tailored solution.
              </p>
            </div>
            <div class="process-step">
              <h2>Step 2: Planning</h2>
              <p>
                Our team creates a detailed plan and timeline for the project to
                ensure timely delivery.
              </p>
            </div>
            <div class="process-step">
              <h2>Step 3: Design</h2>
              <p>
                We design user-friendly and aesthetically pleasing interfaces
                based on your preferences.
              </p>
            </div>
            <div class="process-step">
              <h2>Step 4: Development</h2>
              <p>
                Our developers build and integrate all necessary features,
                ensuring a seamless experience.
              </p>
            </div>
            <div class="process-step">
              <h2>Step 5: Testing</h2>
              <p>
                We rigorously test the website to identify and fix any issues
                before launch.
              </p>
            </div>
            <div class="process-step">
              <h2>Step 6: Launch</h2>
              <p>
                After final approval, we launch the website and monitor its
                performance for any post-launch issues.
              </p>
            </div>
          </section>
        </div>
      </main>

      <!-- Footer Section -->
      <footer class="footer">
        <div class="footer-container">
          <div class="footer-content">
            <div class="box">
              <div class="footer-logo">
                <h2>Webify</h2>
                <p>Your partner in innovative web solutions</p>
              </div>
            </div>
            <div class="box">
              <div class="footer-links">
                <h3>Quick Links</h3>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/index.html#about">About</a></li>
                  <li><a href="/index.html#services">Services</a></li>
                  <li><a href="/index.html#portfolio">Portfolio</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="/index.html#contact">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="box">
              <div class="footer-policy">
                <h3>Legal</h3>
                <ul>
                  <li>
                    <a href="/views/privacy-policy.html">Privacy Policy</a>
                  </li>
                  <li>
                    <a href="/views/terms-of-service.html">Terms of Service</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="footer-bottom">
            <p>&copy; <span id="date"></span> Webify. All rights reserved.</p>
          </div>
        </div>
      </footer>

      <!-- Scroll to Top Button -->
      <button id="scrollToTopBtn" class="scroll-to-top">
        <i class="bx bx-up-arrow-alt"></i>
      </button>

      <!-- Quick Contact Button -->
      <button id="quickContactBtn" class="quick-contact-btn">
        <span>Contact Us</span>
      </button>

      <!-- WhatsApp Button -->
      <div id="whatsAppBtn" class="whatsapp-btn">
        <a href="https://wa.me/27615803040" target="_blank">
          <i class="bx bxl-whatsapp"></i>
        </a>
      </div>

      <!-- Popup Form -->
      <div id="popupForm" class="popup-overlay">
        <div class="popup-content">
          <button id="closePopup" class="close-popup">&times;</button>
          <h2>Quick Contact 👋</h2>
          <form id="contactForm" action="/php/submit-form.php" method="POST">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" required />
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input
                type="email"
                id="email"
                name="email"
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                title="Please enter a valid email address."
              />
            </div>
            <div class="form-group">
              <label for="message">Message:</label>
              <textarea
                id="message"
                name="message"
                rows="4"
                required
              ></textarea>
            </div>
            <button type="submit" class="cta-btn">Send Message</button>
          </form>
        </div>
      </div>
    </div>

    <!-- custom js file link -->
    <script src="/js/main.js"></script>
    <script src="/js/todayDate.js"></script>
  </body>
</html>
