<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- SEO - meta<tags> for search engine optimisation -->
    <!-- Additional Meta Tags -->
    <meta name="robots" content="index, follow" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Application Maintenance & Suport - Webify</title>
    <!-- Primary Meta Tags -->
    <meta
      name="description"
      content="Our goal is to deliver a seamless user experience and maintain peak performance, so your application always runs like a well-oiled machine."
    />
    <!-- Keywords Meta Tag -->
    <meta
      name="keywords"
      content="Webify, webify, web, webify web solutions, webify solutions, web solutions, software, tech, technology, software development, mobile development, seo, search engine optimization, web development johannesburg, web development south africa, cheap websites, affordable websites, easy websites, simple websites, web development, website design, e-commerce solutions, custom web applications, user experience design, responsive web design, webify, digital transformation, business website, web development company, Website Optimization, website Consultation, API Development, Backend Development, UI/UX Design"
    />

    <!-- Favicon Icons [Branding in tabs]  -->
    <!-- Standard favicon - For modern browsers -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <!-- For IE 10 and below -->
    <link rel="shortcut icon" href="/favicon.ico" />
    <!-- For PNG favicons -->
    <link
      rel="icon"
      sizes="any"
      type="image/png"
      href="/web-app-manifest-192x192.png"
    />
    <!-- For iOS - 180x180px -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Webify" />
    <!-- SVG favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.ico/favicon.svg" />
    <!-- 32x32 and 16x16 pixel icons for general use -->
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <!-- 96x96 pixel icon -->
    <link
      rel="icon"
      type="image/png"
      href="/favicon.ico/favicon-96x96.png"
      sizes="96x96"
    />
    <!-- Web App Manifest -->
    <link rel="manifest" href="/site.webmanifest" />
    <!-- Favicon Icons - Branding in tabs and Bookmarks -->
    <meta name="msapplication-TileColor" content="#ffc40d" />
    <meta name="theme-color" content="#5bbad5" />

    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <!-- boxicons stylesheet for icons-->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- Link to external CSS -->
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body onload="todayDate()">
    <!-- Loader -->
    <div id="loader" class="loader">
      <div class="loader-spinner"></div>
    </div>

    <!-- Main Content -->
    <div id="content" class="content hidden">
      <!-- Header Section -->
      <header class="header">
        <div class="container">
          <!-- Logo -->
          <div class="logo">
            <a href="/"><span class="double-outline">W</span>ebify</a>
          </div>

          <!-- Navigation Menu -->
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__item">
                <a href="/" class="nav__link">Home</a>
              </li>
              <li class="nav__item">
                <a href="/index.html#about" class="nav__link">About</a>
              </li>
              <li class="nav__item nav__dropdown">
                <a href="/index.html#services" class="nav__link"
                  >Services <span class="caret">&#9662;</span></a
                >
                <ul class="nav__submenu">
                  <li class="nav__submenu-item">
                    <a
                      href="/views/services/website-development.html"
                      class="nav__link"
                      >Website Development</a
                    >
                  </li>
                  <li class="nav__submenu-item">
                    <a
                      href="/views/services/custom-website-development.html"
                      class="nav__link"
                      >Custom Software Development</a
                    >
                  </li>
                  <li class="nav__submenu-item">
                    <a
                      href="/views/services/mobile-application-development.html"
                      class="nav__link"
                      >Android & IOS App Development</a
                    >
                  </li>
                  <li class="nav__submenu-item">
                    <a
                      href="/views/services/website-hosting-maintenance-services.html"
                      class="nav__link"
                      >Website Hosting & Maintenance Services</a
                    >
                  </li>
                  <li class="nav__submenu-item">
                    <a href="#" class="nav__link"
                      >Application Maintenance & Support</a
                    >
                  </li>
                  <li class="nav__submenu-item">
                    <a
                      href="/views/services/seo-integration.html"
                      class="nav__link"
                      >SEO Integration & Web Design</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav__item">
                <a href="/index.html#portfolio" class="nav__link">Portfolio</a>
              </li>
              <li class="nav__item">
                <a href="/index.html#blog" class="nav__link">Blog</a>
              </li>
              <li class="nav__item nav__dropdown">
                <a
                  href="/views/work-process/work-process.html"
                  class="nav__link"
                >
                  Work Process <span class="caret">&#9662;</span>
                </a>
                <ul class="nav__submenu">
                  <li class="nav__submenu-item">
                    <a
                      href="/views/work-process/services.html"
                      class="nav__link"
                      >Services</a
                    >
                  </li>
                  <li class="nav__submenu-item">
                    <a
                      href="/views/work-process/packages.html"
                      class="nav__link"
                      >Packages</a
                    >
                  </li>
                  <li class="nav__submenu-item">
                    <a
                      href="/views/work-process/tech-stack.html"
                      class="nav__link"
                      >Tech Stack</a
                    >
                  </li>
                  <li class="nav__submenu-item">
                    <a
                      href="/views/work-process/work-process.html"
                      class="nav__link"
                      >Work Process</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav__item">
                <a href="#contact" class="nav__link">Contact</a>
              </li>
            </ul>
          </nav>

          <!-- Light/Dark Button -->
          <button id="themeToggle" class="theme-toggle-btn">
            <span class="sun">&#9728;</span>
            <span class="moon">&#9790;</span>
          </button>

          <!-- CTA Button -->
          <div class="cta">
            <a href="#contact" class="cta__button">Get a Free Quote</a>
          </div>

          <!-- Mobile Menu Toggle (Optional) -->
          <div class="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </div>
      </header>

      <main class="main">
        <!-- About Section (Landing)  -->
        <section id="about" class="about development-steps views-top-margin">
          <div class="container">
            <div class="about-content">
              <div class="about-text">
                <h2>Application Maintenance & Support</h2>
                <span class="bottom-border"></span>
                <p>
                  <strong
                    >Keep Your App Running Smoothly with Premier Maintenance &
                    Support!</strong
                  >
                </p>
                <p>
                  Application maintenance and support are vital to any software
                  project, ensuring your app performs flawlessly even after
                  launch. Our goal is to deliver a seamless user experience and
                  maintain peak performance, so your application always runs
                  like a well-oiled machine.
                </p>
              </div>
              <div class="about-image">
                <img src="/assets/services/appdev_step2.jpg" alt="Our Team" />
              </div>
            </div>
          </div>
        </section>

        <hr />

        <!-- Benefits of Application Maintenance and Support Section -->
        <section class="services" id="services">
          <div class="steps-container">
            <h2>Key Benefits of Application Maintenance and Support</h2>
            <span class="bottom-border"></span>

            <!-- Step 1 -->
            <div class="step">
              <div class="step-image">
                <img
                  src="/assets/services/about.png"
                  alt="Research & Planning"
                />
              </div>
              <div class="step-content">
                <h3>
                  <span class="step-content-span">1.</span> Increased Stability
                </h3>
                <p>
                  Regular maintenance and support can help identify and resolve
                  issues before they become major problems, ensuring that the
                  application remains stable and reliable.
                </p>
              </div>
            </div>

            <!-- Step 2 -->
            <div class="step">
              <div class="step-image">
                <img src="/assets/services/about.png" alt="Design" />
              </div>
              <div class="step-content">
                <h3>
                  <span class="step-content-span">2.</span> Improved Performance
                </h3>
                <p>
                  Through regular performance tuning and optimization, the
                  application can be kept running at optimal performance,
                  providing users with a fast and responsive experience.
                </p>
              </div>
            </div>

            <!-- Step 3 -->
            <div class="step">
              <div class="step-image">
                <img src="/assets/services/about.png" alt="Development" />
              </div>
              <div class="step-content">
                <h3><span class="step-content-span">3.</span> Security</h3>
                <p>
                  Application maintenance and support includes ongoing security
                  updates and patches, which help to protect against potential
                  security threats.
                </p>
              </div>
            </div>

            <!-- Step 4 -->
            <div class="step">
              <div class="step-image">
                <img src="/assets/services/about.png" alt="Testing & Launch" />
              </div>
              <div class="step-content">
                <h3>
                  <span class="step-content-span">4.</span> User Satisfaction
                </h3>
                <p>
                  Regular maintenance and support can help to ensure that users
                  have a positive experience with the application, which can
                  lead to increased satisfaction and engagement.
                </p>
              </div>
            </div>

            <!-- Step 5 -->
            <div class="step">
              <div class="step-image">
                <img src="/assets/services/about.png" alt="Testing & Launch" />
              </div>
              <div class="step-content">
                <h3><span class="step-content-span">5.</span> Cost Savings</h3>
                <p>
                  By fixing issues before they become major problems,
                  maintenance and support can help to reduce the cost of
                  addressing technical issues and improve the overall ROI of the
                  application.
                </p>
              </div>
            </div>
          </div>
        </section>

        <hr />

        <!-- About Section -->
        <section id="about" class="about">
          <div class="container">
            <div class="about-content">
              <div class="about-text">
                <p>
                  <strong>Application maintenance and support</strong> is a
                  critical component of the software development cycle and
                  should not be overlooked. A well-maintained and supported
                  application can provide a competitive advantage, improve user
                  satisfaction, and ensure long-term success. By choosing a
                  provider that has a proven track record of providing
                  high-quality maintenance and support services, organizations
                  can ensure that their applications continue to perform at
                  their best for years to come.
                </p>
              </div>
            </div>
          </div>
        </section>

        <hr />

        <!-- Contact Section -->
        <section class="contact" id="contact">
          <div class="container">
            <h2>Contact Us</h2>
            <div class="contact-info">
              <div class="contact-details">
                <h3>Get in Touch</h3>
                <br />
                <p>
                  Have questions or need assistance? Feel free to reach out to
                  us through the following channels:
                </p>
                <br />
                <ul>
                  <li>
                    <strong>Address:</strong> Diepkloof Zone 6, Soweto, South
                    Africa
                  </li>
                  <li>
                    <strong>Email:</strong>
                    <a href="mailto:info@webify.org.za">info@webify.org.za</a>
                  </li>
                  <li>
                    <strong>Phone:</strong>
                    <a href="tel:0615803040">+27 61 580 3040</a>
                  </li>
                </ul>
              </div>
              <div class="contact-form">
                <h3>Send Us a Message</h3>
                <form action="submit-form.php" method="POST">
                  <!-- Honeypot -->
                  <input name="bot-field" style="display: none" />
                  <input type="text" name="_honey" style="display: none" />

                  <!-- Form -->
                  <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required />
                  </div>
                  <div class="form-group">
                    <label for="email">Email:</label>
                    <input
                      type="email"
                      id="email"
                      name="email"
                      required
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                      title="Please enter a valid email address."
                    />
                  </div>
                  <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea
                      id="message"
                      name="message"
                      rows="4"
                      required
                    ></textarea>
                  </div>
                  <button type="submit" class="cta-btn">Send Message</button>
                </form>
              </div>
            </div>
          </div>
        </section>
      </main>

      <!-- Footer Section -->
      <footer class="footer">
        <div class="footer-container">
          <div class="footer-content">
            <div class="box">
              <div class="footer-logo">
                <h2>Webify</h2>
                <p>Your partner in innovative web solutions</p>
              </div>
            </div>
            <div class="box">
              <div class="footer-links">
                <h3>Quick Links</h3>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/index.html#about">About</a></li>
                  <li><a href="/index.html#services">Services</a></li>
                  <li><a href="/index.html#portfolio">Portfolio</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="/index.html#contact">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="box">
              <div class="footer-policy">
                <h3>Legal</h3>
                <ul>
                  <li>
                    <a href="/views/privacy-policy.html">Privacy Policy</a>
                  </li>
                  <li>
                    <a href="/views/terms-of-service.html">Terms of Service</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="footer-bottom">
            <p>&copy; <span id="date"></span> Webify. All rights reserved.</p>
          </div>
        </div>
      </footer>

      <!-- Scroll to Top Button -->
      <button id="scrollToTopBtn" class="scroll-to-top">
        <i class="bx bx-up-arrow-alt"></i>
      </button>

      <!-- Quick Contact Button -->
      <button id="quickContactBtn" class="quick-contact-btn">
        <span>Contact Us</span>
      </button>

      <!-- WhatsApp Button -->
      <div id="whatsAppBtn" class="whatsapp-btn">
        <a href="https://wa.me/27615803040" target="_blank">
          <i class="bx bxl-whatsapp"></i>
        </a>
      </div>

      <!-- Popup Form -->
      <div id="popupForm" class="popup-overlay">
        <div class="popup-content">
          <button id="closePopup" class="close-popup">&times;</button>
          <h2>Quick Contact 👋</h2>
          <form id="contactForm" action="/php/submit-form.php" method="POST">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" required />
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input
                type="email"
                id="email"
                name="email"
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                title="Please enter a valid email address."
              />
            </div>
            <div class="form-group">
              <label for="message">Message:</label>
              <textarea
                id="message"
                name="message"
                rows="4"
                required
              ></textarea>
            </div>
            <button type="submit" class="cta-btn">Send Message</button>
          </form>
        </div>
      </div>
    </div>

    <!-- custom js file link -->
    <script src="/js/main.js"></script>
    <script src="/js/todayDate.js"></script>
  </body>
</html>
